<div id="coding-ctn"></div> 
<link rel="stylesheet" href="//dn-coding-net-public-file.qbox.me/Coding-Comments/v0.0.3/default.css">
<script type="text/javascript" src="//dn-coding-net-public-file.qbox.me/Coding-Comments/v0.0.3/gitment.min.js"></script>
<script type="text/javascript">
  var coding_comments_user = "<%=theme.coding_comments.owner%>";
  var coding_comments_project = "<%=theme.coding_comments.repo%>";
  var coding_comments_client_id = "<%=theme.coding_comments.oauth.client_id%>";
  var coding_comments_client_secret = "<%=theme.coding_comments.oauth.client_secret%>";
  var coding_comments_id = "<%=url%>";

  console.log("coding_comments_user:" + coding_comments_user);
  console.log("coding_comments_project:" + coding_comments_project);
  console.log("coding_comments_client_id:" + coding_comments_client_id);
  console.log("coding_comments_client_secret:" + coding_comments_client_secret);

  (function() {
    const gitment = new Gitment({
      owner: coding_comments_user,
      repo: coding_comments_project,
      oauth: {
        client_id: coding_comments_client_id,
        client_secret: coding_comments_client_secret,
      },
      author: '395038209@qq.com', // how to contact with you
      theme: 'https://github.com/litten/hexo-theme-yilia' // where to download this blog's theme
    })
    gitment.render('coding-ctn')
    // document.getElementById('coding_comments_thread').appendChild(gitment.render())
  })();
</script>